<%- include('partials/_loggedInHeader') -%>

  <div class='container sort mt-5'>
    <h1 class='post-header'> Recent Salaries</h1>
    <div class='text-center'>
      <p> Wages marked 'verified' <i class="bi bi-patch-check"></i> have been submitted with supplemental information
        such as paystubs, W2s or tipsheets.
      </p>

      <p> <a href="/verify">Verifying your salary </a> helps others trust its accuracy.</p>
    </div>

    <!-- Desktop Feed-->
    <div id='feed'>
      <table id="salaries" class="table table-striped" style="width:100%">
        <thead>
          <tr>
            <th>Company</th>
            <th>Business Type</th>
            <th>Job Title</th>
            <th>Shifts Worked</th>
            <th>Shift Length</th>
            <th>Base Pay</th>
            <th>Tip Range</th>
            <th>Additional Pay</th>
            <th>More Info </th>
          </tr>
        </thead>

        <tbody>
          <% for(let i=0; i<posts.length; i++) {%>

            <!-- Only approved posts-->
            <% if(posts[i].approved ){ %>
              <td label='Name'>

                <%= posts[i].name%>
                  <% if(posts[i].verified ){ %>
                    <i class="bi bi-patch-check"></i>
                    <span class=' subtext'>
                      <%= posts[i].location%>
                        <span>





                          <% } %>

              </td>

              <td label='Type'>
                <%= posts[i].type%>
              </td>

              <td label='Title'>
                <%= posts[i].title%>
              </td>

              <td label='Shifts'>
                <%= posts[i].numShifts%>
              </td>

              <td label='Shift Length'>
                <%= posts[i].shiftLength%>
                  <span class='subtext'> Hours </span>
              </td>

              <td label="Pay">
                <%= `$ ${posts[i].base}`%>
                  <span class='subtext'>
                    <%= posts[i].payType%>
                  </span>
              </td>

              <!-- Show 'Non-Tipped' if user did not enter tips, or inputted 0-->
              <td label="Tip Range">
                <% if(!posts[i].slowTips || !posts[i].busyTips || posts[i].slowTips==0 || posts[i].busyTips==0 ){ %>
                  Non-Tipped
                  <% } else{ %>
                    <%= `$${posts[i].slowTips}`%>-<%= `$${posts[i].busyTips}`%>
                        <% } %>
              </td>

              <!-- Show None if user did not include extra pay-->
              <td label="Extra Pay">
                <% if(!posts[i].extraPay || posts[i].extraPay==0){ %>
                  None
                  <% } else{ %>
                    <%= `${posts[i].extraPay}`%>
                      <% } %>
              </td>

              <td label="More Info">
                <a href="/post/<%= posts[i]._id%>"> Details</a>
              </td>
              </tr>

              <% } %>
                <%}%>
        </tbody>
      </table>
    </div>
  </div>

  <!-- MOBILE FEED -->
  <div class='mobile-feed'>
    <table id="mobile-salaries" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Company</th>
          <th>Job Title</th>
          <th>More Info </th>
        </tr>
      </thead>

      <tbody>
        <% for(let i=0; i<posts.length; i++) {%>
          <!-- Only approved posts-->
          <% if(posts[i].approved ){ %>
            <td label='Name'>

              <div class='text-center'>
                <p>
                  <%= posts[i].name%>
                    <% if(posts[i].verified ){ %>
                      <i class="bi bi-patch-check"></i>
                      <% } %>
                </p>

                <span class='subtext text-center'>
                  <%= posts[i].location%>
                </span>
              </div>
            </td>

            <td label='Title'>
              <%= posts[i].title%>
            </td>


            <td label="More Info">
              <a href="/post/<%= posts[i]._id%>"> Details</a>
            </td>



            </tr>

            <% } %>
              <%}%>
      </tbody>
    </table>
  </div>
  <!-- End Mobile Feed-->


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#salaries').DataTable();
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#mobile-salaries').DataTable();
    });
  </script>




  <%- include('partials/_loggedInFooter') -%>