<%- include('partials/EN/_header-bare') -%>


  <main class="container ">
    <div class="row justify-content-center">
      <section class="mt-5">
        <% if (locals.messages.errors) { %>
          <% messages.errors.forEach( el=> { %>
            <div class="alert alert-danger">
              <%= el.msg %>
            </div>
            <% }) %>
              <% } %>
                <% if (locals.messages.info) { %>
                  <% messages.info.forEach( el=> { %>
                    <div class="alert alert-info">
                      <%= el.msg %>
                    </div>
                    <% }) %>
                      <% } %>

                        <!-- Reset PW Form -->
                        <div class='text-center user-form'>
                          <div class='text-center'>
                            <a href="/"> <img src="/imgs/logo.png" class='form-logo' alt="Company Logo"></a>
                          </div>
                          
                          <form action="/passwordReset" method="POST" class="text-center member-form">
                                <% if (locals.messages.errors) { %>
                                    <% messages.errors.forEach( el => { %>
                                        <div class="text-red-600"><%= el.msg %></div>
                                    <% }) %>    
                                <% } %>
                                <% if (locals.messages.info) { %>
                                    <% messages.info.forEach( el => { %>
                                        <div class="text-red-600"><%= el.msg %></div>
                                    <% }) %>    
                                <% } %>
                                <% if (locals.messages.success) { %>
                                    <% messages.success.forEach( el => { %>
                                        <div class="text-green-500"><%= el.msg %></div>
                                    <% }) %>    
                                <% } %>
                
                                <div class="mb-3 auth-form">
                                    <label for="email" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="email" placeholder="example@email.com"
                                      aria-describedby="email" name="email" autofocus />
                                  </div>


                                  <button type="submit" class="btn btn-form">Forgot Password</button>
                
                            </form>
                          <p class="text-center mt-3">Remember your password? <a href="/login">Log In</a></p>
                          <p class="text-center mt-3">Not a member? <a data-toggle="tab" href="/signup">Sign Up</a></p>
                        </div>

                        <!-- End Rest PW Form -->
      </section>

    </div>
  </main>

  <%- include('partials/EN/_footer-bare') -%>