<%- include('partials/_loggedInHeader') -%>
  <div class="container">
    <div class="row justify-content-center mt-5">

      <div class="col-6">
        <h2>
          <%= `${post.title} at ${post.name} (${post.location})` %>
        </h2>

        <!-- Date -->
        <span class=subtext>
          <%= `Shared: ${post.createdAt.toISOString().slice(5,10)}-${post.createdAt.toISOString().slice(0,4)}` %>
        </span>

        <!-- Flag Post -->
        <%if(post.user !=user.id){ %>
          <form class="col-3" action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
            <button class="btn bi bi-flag" type="submit"> Flag </button>
          </form>
          <%}%>

            <!-- Delete Post-->
            <%if(post.user==user.id){ %>
              <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST">
                <button class="btn bi bi-trash" type="submit"> Remove</button>
              </form>
              <%}%>

                <!-- Edit Post -->
                <%if(post.user==user.id){ %>
                  <form class="col-3" action="/post/editPost/<%= post.id %>?_method=PUT" method="POST">
                    <button class="btn bi bi-pencil" type="submit"> Edit </button>
                  </form>
                  <%}%>




                    <h3> Company Information</h3>
                    <p>
                      Business Type:
                      <%= post.type %>
                    </p>

                    <% if(post.familyMeal){ %>
                      <p>
                        Family Provided?
                        <%= post.familyMeal %>
                      </p>
                      <% } %>

                        <% if(post.overTime){ %>
                          <p>
                            Allows overtime?
                            <%= post.overTime%>
                          </p>
                          <% } %>




                            <h3> Compensation Breakdown:</h3>

                            <p>
                              Base Pay: <%= `$${post.base}` %>
                                <%= `( ${post.payType} )` %>
                            </p>
                            <% if(!post.slowTips || !post.busyTips || post.slowTips==0 || post.busyTips==0 ){ %>
                              <p>
                                <% } else{ %>
                                  Tips per shift:
                                  <%= `$ ${post.slowTips}`%>
                                    -
                                    <%= `$ ${post.busyTips}`%>
                              </p>
                              <% } %>

                                <% if(post.poolHouse){ %>
                                  <p>
                                    Pool House?
                                    <%= post.poolHouse %>
                                  </p>
                                  <% } %>

                                    <!-- Hidden if no input selected-->
                                    <% if(post.cashTips==='Cash' ){ %>
                                      <p>
                                        <%= `Cash tips are kept` %>
                                          <% } else if(post.cashTips=='Paycheck' ){ %>
                                            <%= `Cash tips are placed in paycheck and taxed` %>
                                      </p>
                                      <% } %>

                                        <!-- Hidden if extra pay is empty-->
                                        <% if(post.extraPay){ %>
                                          <p>
                                            <%= `Additional Pay: $ ${post.extraPay}`%>
                                          </p>
                                          <% } %>


                                            <p>
                                              Do new hires receive full tips?
                                              <%= post.fullTips %>
                                            </p>



                                            <% if(post.gender || post.ethnicity || post.age){ %>
                                              <h3> Demographic Information:</h3>
                                              <% } %>

                                                <p>
                                                  <% if(post.gender){ %>
                                                    Sex:
                                                    <%= post.gender %>
                                                      <% } %>
                                                </p>

                                                <p>
                                                  <% if(post.ethnicity){ %>
                                                    Ethnicity:
                                                    <%= post.ethnicity %>
                                                      <% } %>
                                                </p>


                                                <p>
                                                  <% if(post.age){ %>
                                                    Age:
                                                    <%= post.age %>
                                                      <% } %>
                                                </p>




                                                <h3> Shift Information:</h3>
                                                <p>
                                                  Average Shift Length:
                                                  <%= post.shiftLength %>
                                                </p>

                                                <% if(post.breaks){ %>
                                                  <p>
                                                    Are you able to take breaks?
                                                    <%= post.breaks%>
                                                  </p>
                                                  <% } %>

                                                    <p>
                                                      Number of Shifts per week:
                                                      <%= post.numShifts %>
                                                    </p>

                                                    <p>
                                                      <% if(post.sameShifts){ %>
                                                        Same Schedule each week :
                                                        <%= post.sameShifts %>
                                                          <% } %>
                                                    </p>


                                                    <% if(post.comments){ %>
                                                      <h3>
                                                        Comments:
                                                      </h3>
                                                      <p>
                                                        <%= post.comments %>
                                                      </p>
                                                      <% } %>

                                                        <!-- 
                  <%= post.approved %>
                  <%= post.verified %>
                 -->











      </div>





    </div>
  </div>

  <%- include('partials/_loggedInFooter') -%>