<%- include('partials/_loggedInHeader') -%>

<div class ='mt-5'> 
   
    
    <!-- Desktop Feed -->
    <div class = 'desktop-feed'> 
        <div class = 'profile-container'>
        <div class = 'profile-left'>
            <div class = 'profile-group'>
            <!-- Average Earnings -->
                            <!-- Store Each Day -->
                        
                            <%  let arr = [mondayCount, mondayEarned, tuesdayCount, tuesdayEarned, wednesdayCount, wednesdayEarned, thursdayCount, thursdayEarned, fridayCount, fridayEarned, saturdayCount, saturdayEarned, sundayCount, sundayEarned] = new Array(14).fill(0) %>

                            <% for(let i=0; i<usersShifts.length; i++) {%>
                            <% let shiftTotal=usersShifts[i].cashTips + usersShifts[i].ccTips + (usersShifts[i].hoursWorked * usersShifts[i].payPerHour) %>
                        
                            <!-- Average Each Day of Week-->
                            <% if(usersShifts[i].day==='Mon' ){ %>
                            <% mondayCount++ %>
                            <% mondayEarned +=shiftTotal %>
                            <% } %>

                            <% if(usersShifts[i].day==='Tues' ){ %>
                                <% tuesdayCount++ %>
                                <% tuesdayEarned +=shiftTotal  %>
                            <% } %>

                            <% if(usersShifts[i].day==='Wed' ){  %>
                                <% wednesdayCount++ %>
                                <% wednesdayEarned +=shiftTotal  %>  
                            <% }  %>

                            <% if(usersShifts[i].day==='Thur' ){ %>
                            <% thursdayCount++  %> 
                            <% thursdayEarned  +=shiftTotal  %>
                            <% } %>

                            <% if(usersShifts[i].day==='Fri'){  %>
                            <% fridayCount++   %>
                            <% fridayEarned  +=shiftTotal %>
                            <% } %>

                            <% if(usersShifts[i].day==='Sat'  ){  %>
                            <% saturdayCount++  %>
                            <% saturdayEarned  +=shiftTotal  %>
                            <% } %>

                            <% if(usersShifts[i].day==='Sun'){  %>
                            <% sundayCount++   %>
                            <% sundayEarned  +=shiftTotal  %>
                            <% }  %>
                <% } %>
                            <!-- Change Table IDS for different tables-->
                            <h3> Your Average Earnings</h3>
                        <table class="table table-striped">
                    
                                <thead>
                                    <tr>
                                        <th>Mon</th>
                                        <th>Tues</th>
                                        <th>Wed</th>
                                        <th>Thur</th>
                                        <th>Fri</th>
                                        <th>Sat</th>
                                        <th>Sun</th>
                                    </tr>
                                </thead>
                                
                                <!-- Display Each Day's Average in IF data exists table-->
                                <tbody>
                                <tr>     
                                    <% if(mondayCount > 0){ %>
                                        <td> $<%= Number.parseFloat(mondayEarned / mondayCount).toFixed(2)  %> </td>
                                        <% } else{ %>
                                        <span>
                                            <td> - </td>
                                        </span>
                                        <% } %>
                                        <% if(tuesdayCount > 0){ %>
                                            <td> $<%= Number.parseFloat(tuesdayEarned / tuesdayCount).toFixed(2)  %> </td>
                                            <% } else{ %>
                                            <span>
                                                <td> - </td>
                                            </span>
                                            <% } %>
                                            <% if(wednesdayCount > 0){ %>
                                                <td> $<%= Number.parseFloat(wednesdayEarned / wednesdayCount).toFixed(2)  %> </td>
                                                <% } else{ %>
                                                <span>
                                                    <td> - </td>
                                                </span>
                                                <% } %>
                                                <% if(thursdayCount > 0){ %>
                                                    <td> $<%= Number.parseFloat(thursdayEarned / thursdayCount).toFixed(2)  %> </td>
                                                    <% } else{ %>
                                                    <span>
                                                        <td> - </td>
                                                    </span>
                                                    <% } %>
                                                    <% if(fridayCount > 0){ %>
                                                        <td> $<%= Number.parseFloat(fridayEarned / fridayCount).toFixed(2)  %> </td>
                                                        <% } else{ %>
                                                        <span>
                                                            <td> - </td>
                                                        </span>
                                                        <% } %>
                                                        <% if(saturdayCount > 0){ %>
                                                            <td> $<%= Number.parseFloat(saturdayEarned / saturdayCount).toFixed(2)  %> </td>
                                                            <% } else{ %>
                                                            <span>
                                                                <td> - </td>
                                                            </span>
                                                            <% } %>
                                                            <% if(sundayCount > 0){ %>
                                                                <td> $<%= Number.parseFloat(sundayEarned / sundayCount).toFixed(2)  %> </td>
                                                                <% } else{ %>
                                                                <span>
                                                                    <td> - </td>
                                                                </span>
                                                                <% } %>
                                </tr>
                            </tbody>
                        </table>
                        </div>
        <!-- End Average Earnings-->

        <!-- Track Your Earnings-->
        <form action="/post/addShift" method="POST" class='mb-3' id ='track-earnings'>

            <div class = 'profile-group'>
                <h3> Track your earnings</h3>
                <div class="mb-3">
                    <form action="/addShift" method="POST" class="text-center member-form">
                        
                        <label for="day" class="form-label">Day</label>
                        <div>
                            <select name="day" id="day" name='day' required>
                                <option value="">-</option>
                                <option value="Mon">Monday</option>
                                <option value="Tues">Tuesday</option>
                                <option value="Wed">Wednesday</option>
                                <option value="Thur">Thursday</option>
                                <option value="Fri">Friday</option>
                                <option value="Sat">Saturday</option>
                                <option value="Sun">Sunday</option>
                            </select>
                        </div>

                        <label for="date" class="form-label">Shift Date</label>
                        <input autofocus type="text" class="form-control" id="date" name="date"
                            placeholder="MM/DD/YY" required>

                        <label for="hoursWorked" class="form-label">Hours Worked</label>
                        <input autofocus type="number" step="0.01" class="form-control" id="hoursWorked" name="hoursWorked"
                            placeholder="8" required>

                        <label for="ccTips" class="form-label">CC Tips</label>
                        <input autofocus type="number" step="0.01" class="form-control" id="ccTips" name="ccTips" value=0
                            required>

                        <label for="cashTips" class="form-label">Cash Tips</label>
                        <input autofocus type="number" step="0.01" class="form-control" id="cashTips" name="cashTips" value=0
                            required>


                        <!-- Below will prompt user for location, company, position, and hourly rate the first time, and auto fill subsequent times.-->
                    
                            <!-- User HAS previously submitted a shfit -->
                            <% if(usersShifts[usersShifts.length -1]){ %>
                                <label for="payPerHour" class="form-label">Pay Per Hour </label>
                                <input autofocus type="number" step="0.01" value="<%- usersShifts[usersShifts.length -1].payPerHour -%>" class="form-control" id="payPerHour" name="payPerHour"
                                    required>

                                <label for="role" class="form-label">Role</label>
                                <input autofocus type="text" class="form-control" id="role" name="role"
                                value="<%- usersShifts[usersShifts.length -1].role -%>" required>
                    
                                <label for="company" class="form-label">Company</label>
                                <input autofocus type="text" class="form-control" id="company" name="company"
                                    value= "<%- usersShifts[usersShifts.length -1].company -%>"" required>
                
                                <label for="location" class="form-label">Location</label>
                                <input autofocus type="text" class="form-control" id="location" name="location"
                                    value="<%- usersShifts[usersShifts.length -1].location -%>" required>

                                <label for="share" class="form-label">Share in feed</label>
                                <input autofocus type="checkbox" id="share" name="share" value ='true'
                                         checked>

                                <% } else { %>
                                    <!-- User Has Not previously submitted a shift -->
                                    <label for="payPerHour" class="form-label">Pay Per Hour </label>
                                    <input autofocus type="number" step="0.01" class="form-control" id="payPerHour" name="payPerHour"
                                        placeholder="15" required>

                                    <label for="role" class="form-label">Role</label>
                                    <input autofocus type="text" class="form-control" id="role" name="role"
                                        placeholder="Bartender" required>

                                    <label for="company" class="form-label">Company</label>
                                    <input autofocus type="text" class="form-control" id="company" name="company"
                                        placeholder="Will's Bar" required>
                    
                                    <label for="location" class="form-label">Location</label>
                                    <input autofocus type="text" class="form-control" id="location" name="location"
                                            placeholder="New York, NY" required>

                                    <label for="share" class="form-label">Share in feed</label>
                                    <input autofocus type="checkbox" id="share" name="share" value ='true'
                                             checked>

                        
                            <% } %>
                        <br>
                        <button type="submit" class="btn btn-form">Track</button>
                    </form>

                </div>
            </div>
        <!-- End Track Your Earnings-->
        <!-- Shifts Worked -->                            
                                <h3> Your Shifts </h3>
                                <table id="shifts-worked-table" class="table table-striped shifts-worked">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>Day</th>
                                            <th>Shift Length</th>
                                            <th>Hourly Pay</th>
                                            <th>CC Tips</th>
                                            <th>Cash Tips</th>
                                            <th>Position</th>
                                            <th>Company</th>
                                            <td>Total</td>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>



                                    <tbody>
                                        <!-- Loop through all of the users shifts -->
                                        <% for(let i=0; i<usersShifts.length; i++) {%>
                                            <tr>
                                                <td>
                                                    <%= usersShifts[i].date %>
                                                </td>

                                                <td>
                                                    <%= usersShifts[i].day %>

                                                </td>
                                                <td>
                                                    <%= usersShifts[i].hoursWorked %>
                                                </td>
                                                <td>
                                                    <%= usersShifts[i].payPerHour %>
                                                </td>

                                                <td>
                                                    <%= usersShifts[i].ccTips %>
                                                </td>
                                                <td>
                                                    <%= usersShifts[i].cashTips %>
                                                </td>

                                                <td>
                                                    <%= usersShifts[i].company %>
                                                </td>
                                                <td>
                                                    <%= usersShifts[i].role %>
                                                </td>
                                                <td>

                                                    $<%= usersShifts[i].cashTips + usersShifts[i].ccTips +
                                                        (usersShifts[i].hoursWorked * usersShifts[i].payPerHour) %>
                                                </td>

                                                <td>
                                                    <!--  Deletes Shift From Table -->
                                                    <form id='delete-shift' action="/post/deleteShift/<%= usersShifts[i].id %>?_method=DELETE" method="POST">
                                                        <button class="btn bi bi-trash" type="submit"> Remove</button>
                                                    </form>
            


                                                </td>
                                            </tr>
                                            <% } %>
                                    </tbody>
                                </table>
                                <!-- End Shifts Worked-->

        </div>
        <div class = 'profile-right'>
            <div class = 'profile-group'>
            
                <!-- Timeline / Feed-->
                <h3 class ='centered-heading'> Recent Shifts </h3>
                <div class = 'timeline'>
            <% for(let i=0; i<allShifts.length; i++) {%>
                <div class = 'timeline-item'> 

                    <!-- If Single hour worked -->
                    <% if(allShifts[i].hoursWorked == 1){ %>
                        <p> <%= allShifts[i].day %> <%= allShifts[i].date %> <br> A <%= (allShifts[i].role).toUpperCase() %>  from <br> <%= (allShifts[i].company).toUpperCase() %> (<%=allShifts[i].location %>) <br> Made $<%= allShifts[i].cashTips + allShifts[i].ccTips + (allShifts[i].hoursWorked * allShifts[i].payPerHour) %>  working <%= allShifts[i].hoursWorked%> hour </p>

                        <% } else{ %>
                            <p>  <%= allShifts[i].day %> <%= allShifts[i].date %> <br> A <%= (allShifts[i].role).toUpperCase() %>  from <br>  <%= (allShifts[i].company).toUpperCase() %> (<%=allShifts[i].location %>) <br> Made $<%= allShifts[i].cashTips + allShifts[i].ccTips + (allShifts[i].hoursWorked * allShifts[i].payPerHour) %>  working <%= allShifts[i].hoursWorked%> hours  </p>
                        <% } %>
                    <!-- Need to create a post/put action form to update flags-->
                </div>

            <% } %>
        </div>

        </div>
        <!-- Feed Ends -->

        </div>
        </div>
   
    <!-- Desktop Feed Ends-->


</div>
</div>

<!-- Mobile -->
<div class='mobile-feed'>  
    <h3> Your Average Earnings</h3>
    <div class = 'averages'>
        <% if(mondayCount > 0){ %>
            <p>Mon <br> $<%= Number.parseFloat(mondayEarned / mondayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p> Mon <br> - </p>
                <% } %>
        <% if(tuesdayCount > 0){ %>
            <p> Tue <br> $<%= Number.parseFloat(tuesdayEarned / tuesdayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p>Tue <br> - </p>
                <% } %>

        <% if(wednesdayCount > 0){ %>
            <p> Wed <br> $<%= Number.parseFloat(wednesdayEarned / wednesdayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p> Wed <br> - </p>
                <% } %>

        <% if(thursdayCount > 0){ %>
            <p> Thur <br> $<%= Number.parseFloat(thursdayEarned / thursdayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p> Thu <br> - </p>
                <% } %>

        <% if(fridayCount > 0){ %>
            <p> Fri <br> $<%= Number.parseFloat(fridayEarned / fridayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p> Fri <br> - </p>
                <% } %>

        <% if(saturdayCount > 0){ %>
            <p>Sat <br> $<%= Number.parseFloat(saturdayEarned / saturdayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p> Sat <br> - </p>
                <% } %>

        <% if(sundayCount > 0){ %>
            <p>Sun <br> $<%= Number.parseFloat(sundayEarned / sundayCount).toFixed(2)  %></p>
            <% } else{ %>
                    <p> Sun <br> - </p>
                <% } %>
    </div>   
    <!-- End Average Earnings-->

     <!-- Mobile Track Your Earnings-->
     <form action="/post/addShift" method="POST" class='mb-3' id ='track-earnings'>

        <div class = 'profile-group'>
            <h3> Track your earnings</h3>
            <div class="mb-3">
                <form action="/addShift" method="POST" class="text-center member-form">
                    
                    <label for="day" class="form-label">Day</label>
                    <div>
                        <select name="day" id="day" name='day' required>
                            <option value="">-</option>
                            <option value="Mon">Monday</option>
                            <option value="Tues">Tuesday</option>
                            <option value="Wed">Wednesday</option>
                            <option value="Thur">Thursday</option>
                            <option value="Fri">Friday</option>
                            <option value="Sat">Saturday</option>
                            <option value="Sun">Sunday</option>
                        </select>
                    </div>

                    <label for="date" class="form-label">Shift Date</label>
                    <input autofocus type="text" class="form-control" id="date" name="date"
                        placeholder="MM/DD/YY" required>

                    <label for="hoursWorked" class="form-label">Hours Worked</label>
                    <input autofocus type="number" step="0.01" class="form-control" id="hoursWorked" name="hoursWorked"
                        placeholder="8" required>

                    <label for="ccTips" class="form-label">CC Tips</label>
                    <input autofocus type="number" step="0.01" class="form-control" id="ccTips" name="ccTips" value=0
                        required>

                    <label for="cashTips" class="form-label">Cash Tips</label>
                    <input autofocus type="number" step="0.01" class="form-control" id="cashTips" name="cashTips" value=0
                        required>


                    <!-- Below will prompt user for location, company, position, and hourly rate the first time, and auto fill subsequent times.-->
                        <!-- User HAS previously submitted a shift -->
                        <% if(usersShifts[usersShifts.length -1]){ %>
                            <label for="payPerHour" class="form-label">Pay Per Hour </label>
                            <input autofocus type="number" step="0.01" value="<%- usersShifts[usersShifts.length -1].payPerHour -%>" class="form-control" id="payPerHour" name="payPerHour"
                                required>

                            <label for="role" class="form-label">Role</label>
                            <input autofocus type="text" class="form-control" id="role" name="role"
                            value="<%- usersShifts[usersShifts.length -1].role -%>" required>
                
                            <label for="company" class="form-label">Company</label>
                            <input autofocus type="text" class="form-control" id="company" name="company"
                                value= "<%- usersShifts[usersShifts.length -1].company -%>"" required>
            
                            <label for="location" class="form-label">Location</label>
                            <input autofocus type="text" class="form-control" id="location" name="location"
                                value="<%- usersShifts[usersShifts.length -1].location -%>" required>

                            <label for="share" class="form-label">Share in feed</label>
                            <input autofocus type="checkbox" id="share" name="share" value ='true'
                                     checked>

                            <% } else { %>
                                <!-- User Has Not previously submitted a shift -->
                                <label for="payPerHour" class="form-label">Pay Per Hour </label>
                                <input autofocus type="number" step="0.01" class="form-control" id="payPerHour" name="payPerHour"
                                    placeholder="15" required>

                                <label for="role" class="form-label">Role</label>
                                <input autofocus type="text" class="form-control" id="role" name="role"
                                    placeholder="Bartender" required>

                                <label for="company" class="form-label">Company</label>
                                <input autofocus type="text" class="form-control" id="company" name="company"
                                    placeholder="Will's Bar" required>
                
                                <label for="location" class="form-label">Location</label>
                                <input autofocus type="text" class="form-control" id="location" name="location"
                                        placeholder="New York, NY" required>

                                <label for="share" class="form-label">Share in feed</label>
                                <input autofocus type="checkbox" id="share" name="share" value ='true'
                                         checked>

                        <% } %>
                    <br>
                    <button type="submit" class="btn btn-form">Track</button>
                </form>

            </div>
        </div>
    <!-- End Mobile Track Your Earnings-->

        <!-- Mobile Shifts Worked -->                            
        <h3> Your Shifts </h3>
        <table id="mobile-shifts-worked-table" class="table table-striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Day</th>
                    <th>Shift Length</th>
                    <th>Hourly Pay</th>
                    <th>CC Tips</th>
                    <th>Cash Tips</th>
                    <th>Position</th>
                    <th>Company</th>
                    <td>Total</td>
                    <th>Remove</th>
                </tr>
            </thead>

            <tbody class="text-center">
                <!-- Loop through all of the users shifts -->
                <% for(let i=0; i<usersShifts.length; i++) {%>
                    <tr>
                        <td class="text-center"><%= usersShifts[i].day %>  <%= usersShifts[i].date %> <br> $<%= usersShifts[i].cashTips + usersShifts[i].ccTips +
                            (usersShifts[i].hoursWorked * usersShifts[i].payPerHour) %>  </td>
                        <td> <%= usersShifts[i].company %> </td>
                        <td> <%= usersShifts[i].role %>  </td>
                        <td> Hours Worked <br> <%= usersShifts[i].hoursWorked %> </td>
                        <td> CC Tips <br> $<%= usersShifts[i].ccTips %>  </td>
                        <td> Cash Tips <br> $<%= usersShifts[i].cashTips %>  </td>

                        <td>
                            <!--  Deletes Shift From Table -->
                            <form id='delete-shift' action="/post/deleteShift/<%= usersShifts[i].id %>?_method=DELETE" method="POST">
                                <button class="btn bi bi-trash" type="submit"> Remove</button>
                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>
        <!-- End Mobile Shifts Worked-->

    <!-- Mobile Begin Timeline -->
    <h3 class ='centered-heading'> Recent Shifts </h3>
    <div class = 'timeline'>
    <% for(let i=0; i<allShifts.length; i++) {%>
    <div class = 'timeline-item'> 

 <!-- If Single hour worked -->
 <% if(allShifts[i].hoursWorked == 1){ %>
    <p> <%= allShifts[i].day %> <%= allShifts[i].date %> <br> A <%= (allShifts[i].role).toUpperCase() %>  from <br> <%= (allShifts[i].company).toUpperCase() %> (<%=allShifts[i].location %>) <br> Made $<%= allShifts[i].cashTips + allShifts[i].ccTips + (allShifts[i].hoursWorked * allShifts[i].payPerHour) %>  working <%= allShifts[i].hoursWorked%> hour </p>
    <% } else{ %>
        <p>  <%= allShifts[i].day %> <%= allShifts[i].date %> <br> A <%= (allShifts[i].role).toUpperCase() %>  from <br>  <%= (allShifts[i].company).toUpperCase() %> (<%=allShifts[i].location %>) <br> Made $<%= allShifts[i].cashTips + allShifts[i].ccTips + (allShifts[i].hoursWorked * allShifts[i].payPerHour) %>  working <%= allShifts[i].hoursWorked%> hours  </p>
    <% } %>
    <% } %>
        <!-- Mobile End Timeline-->



</div>
    <!-- End Mobile -->

    



                <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
                <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
                <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
                <script>
                    $(document).ready(function () {
                        $(' #shifts-worked-table').DataTable();
                    }); </script>
                <script>
                    $(document).ready(function () {
                        $('#mobile-shifts-worked-table').DataTable();
                    });
                </script>




                <%- include('partials/_loggedInFooter') -%>