<%- include('../partials/ES/_loggedInHeader') -%>

  <div class='container sort mt-5'>
    <h1 class='post-header'> Sueldos Compartido </h1>
    <div class='text-center'>
      <p> Los sueldos marcados con <i class="bi bi-patch-check"></i> han sido verificados con documentos justificativos. </p>
      <p> <a href="/es/verify">  Verificar tu sueldo </a> ayuda a que los demás confíen en tu exactitud.</p>
    </div>

    <!-- Desktop Feed-->
    <div id='feed'>
      <table id="salaries" class="table table-striped">
        <thead>
          <tr>
            <th>Empresa</th>
            <th>Tipo de Empresa</th>
            <th>Puesto de Trabajo</th>
            <th>Turnos Trabajados</th>
            <th>Duración de los Turnos</th>
            <th>Sueldo Base</th>
            <th>Rango de Propina</th>
            <th>Pago Adicional</th>
            <th>Más Información</th>
          </tr>
        </thead>

        <tbody>
          <% for(let i=0; i<posts.length; i++) {%>

            <!-- Only approved posts-->
            <% if(posts[i].approved ){ %>
              <td label='Name'>
                <%= posts[i].name%>
                  <% if(posts[i].verified ){ %>
                    <i class="bi bi-patch-check"></i>
                    <% } %>
                      <span class=' subtext'>
                        <%= posts[i].location%>
                          <span>
              </td>

              <td label='Type'>
                <%= posts[i].type%>
              </td>

              <td label='Title'>
                <%= posts[i].title%>
              </td>

              <td label='Shifts'>
                <%= posts[i].numShifts%>
              </td>

              <td label='Shift Length'>
                <%= posts[i].shiftLength%>
                  <span class='subtext'> Horas </span>
              </td>

              <td label="Pay">
                <%= `$${posts[i].base}`%>
                  <span class='subtext'>
                    <%= posts[i].payType%>
                  </span>
              </td>

              <!-- Show 'Non-Tipped' if user did not enter tips, or inputted 0-->
              <td label="Tip Range">
                <% if(!posts[i].slowTips || !posts[i].busyTips || posts[i].slowTips==0 || posts[i].busyTips==0 ){ %>
                  Sin Propina
                  <% } else{ %>
                    <%= `$${posts[i].slowTips}`%>-<%= `$${posts[i].busyTips}`%>
                        <% } %>
              </td>

              <!-- Show None if user did not include extra pay-->
              <td label="Extra Pay">
                <% if(!posts[i].extraPay || posts[i].extraPay==0){ %>
                  Ninguno
                  <% } else{ %>
                    <%= `${posts[i].extraPay}`%>
                      <% } %>
              </td>

              <td label="More Info">
                <a href="/post/<%= posts[i]._id%>"> Detalles</a>
              </td>
              </tr>

              <% } %>
                <%}%>
        </tbody>
      </table>
    </div>
  </div>
    </div>

  
    

  <!-- MOBILE FEED -->
  <div class='mobile-feed'>
    <table id="mobile-salaries" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Puesto de Trabajo</th>
          <th> Detalles </th>
        </tr>
      </thead>

      <tbody>
        <% for(let i=0; i<posts.length; i++) {%>
          <!-- Only approved posts-->
          <% if(posts[i].approved ){ %>
            <td label='Name'>

              <div class='text-center'>
                <p>
                  <%= posts[i].name%>
                    <% if(posts[i].verified ){ %>
                      <i class="bi bi-patch-check"></i>
                      <% } %>
                </p>

                <span class='subtext text-center'>
                  <%= posts[i].location%>
                </span>
              </div>
            </td>

            <td label='Title'>
              <%= posts[i].title%>
            </td>


            <td label="More Info">
              <a href="/post/<%= posts[i]._id%>"> Detalles</a>
            </td>



            </tr>

            <% } %>
              <%}%>
      </tbody>
    </table>
  </div>
  <!-- End Mobile Feed-->


  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#salaries').DataTable();
    });
  </script>
  <script>
    $(document).ready(function () {
      $('#mobile-salaries').DataTable();
    });
  </script>






  <%- include('../partials/ES/_loggedInFooter') -%>